[submodule "clashr-bin"]
	path = clashr-bin
	url = ssh://aur@aur.archlinux.org/clashr-bin.git
[submodule "logisim-ita-bin"]
	path = logisim-ita-bin
	url = ssh://aur@aur.archlinux.org/logisim-ita-bin.git
[submodule "logisim-evolution"]
	path = logisim-evolution
	url = ssh://aur@aur.archlinux.org/logisim-evolution.git
